@import "../../styles/global.scss";

.navigation-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 2em;

  @include z-index(menu);
}

.navigation-menu__item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 0.5em 1em;
  padding-right: 0.6em;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 330ms;

  &:hover,
  &:active {
    padding: 1em 1.3em;
    padding-right: 1.1em;

    .navigation-menu__icon {
      transition: all 330ms;

      color: rgba(255, 255, 255, 0.8);
      font-size: 1.8em;
    }
  }

  &:active {
    transition: all 500ms;
    background-color: #3e8e41;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
  }
}

.navigation-menu__icon {
  font-size: 1.5em;
  transition: all 330ms;

  &--update {
    margin-right: 10px;
    color: black;
  }

  &--refresh {
    margin-left: 10px;
    color: black;
  }
}

.notification__item__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}